openapi: 3.0.3
info:
  title: 1001albumsgenerator.com Public API
  version: "1.0.0"
  description: |
    Unofficial OpenAPI specification for the read-only JSON API exposed by
    [1001albumsgenerator.com](https://1001albumsgenerator.com), a site that generates a daily
    album (from the book *1001 Albums You Must Hear Before You Die*) for a user or group to
    listen to and rate.

    **This spec is reverse-engineered, not maintained by the site owner.** It was assembled from:
    - The maintainer's (u/SidledsGunnar) original announcement and follow-up comments in
      [r/1001AlbumsGenerator "JSON API"](https://www.reddit.com/r/1001AlbumsGenerator/comments/p6xw6y/json_api/)
      (and its Wayback Machine snapshots from 2021-2025, since live access to that thread was
      blocked during research).
    - Live requests against the production API made on 2026-06-18.

    There is no official Swagger/OpenAPI doc, versioning header, or changelog published by the
    site. Treat every field here as best-effort and re-verify against the live API before
    depending on it for anything important.

    ## How this API actually behaves
    - The API was deliberately "thrown together quickly based on user requests" — it is not a
      designed-first contract, and it shows in the inconsistencies below.
    - `groups/:groupSlug/albums/:albumUuid`, `albums/stats`, and `user-albums/stats` are newer
      additions; the original 2021 release only had `groups/:groupSlug` and
      `projects/:projectIdentifier`.
    - No authentication is required for any endpoint. There's an informal rate limit (the
      maintainer has described it as "~3 requests/minute"). Higher-volume access uses a token
      sent as the `x-api-access` request header, obtained by DMing the maintainer directly —
      there's no self-serve way to get one.
    - There are no POST/write endpoints **in the documented `/api/v1` surface**. Rating albums,
      editing reviews, and unpausing a project all require using the website; none of it is
      exposed over the v1 API. This is tied to the site having no authentication system for write
      access. (There is one write endpoint elsewhere on the site, `/api/notifications/:projectName/read-all` —
      see the Notifications section below — but it's deliberately excluded from "no write
      endpoints" framing above since it's outside `/api/v1` and not something a read-only client
      should call.)
    - A second, undocumented API lives at `/api/notifications/:projectName` (no `/v1` segment) —
      it powers the bell-icon notification dropdown on the live site. Found by inspecting network
      requests on 2026-06-22, not from the source thread. Same no-auth, CORS-open
      (`Access-Control-Allow-Origin: *`) posture as `/api/v1`. See the Notifications section below.
    - `/api/v2/...` does not exist (404s in production), despite having been floated once as a
      future plan for "more structured and cleaned up data."
    - New albums are generated by a server-side cron job at 03:00 GMT regardless of whether the
      user visits the site. A project auto-pauses if nobody rates an album for 4 consecutive days,
      with no API-exposed way to prevent or reverse that.
    - `updateFrequency: daily` means "weekdays only" — only `dailyWithWeekends` generates an album
      every calendar day. The naming is misleading but that's the actual behavior.
    - Image objects are pulled directly from Spotify's API. Most albums have exactly three sizes
      (640x640, 300x300, 64x64), but some have slightly different dimensions (e.g. 634x640)
      because that's what Spotify's API returned for that cover art — don't assume fixed sizes.
    - `history[].rating` is typed inconsistently: an integer 1-5 normally, but the literal string
      `"did-not-listen"` when the user marks a day as not listened to.
    - `history` entries for days the user chose not to reveal (`revealedAlbum: false`) omit the
      `album`, `rating`, and `review` fields entirely rather than setting them to `null`.
    - `history[].globalRating` is the album's all-time average rating across all users of the
      site (for comparing a personal/group rating against the wider consensus). It's absent from
      the CSV export the site also offers.
    - The `projectIdentifier` path param accepts either the project's plain-text name (the slug in
      `1001albumsgenerator.com/:name`) or the opaque `sharerId` from a project's share URL
      (`1001albumsgenerator.com/shares/:sharerId`). Looking it up by `sharerId` omits the `name`
      field from the response, so a share link doesn't leak the underlying project/user name.
    - `groups/:groupSlug/albums/:albumUuid` takes the album's internal `uuid` (as found in any
      other response's `album.uuid`), **not** its `spotifyId` — passing a `spotifyId` returns a
      500 `unknown-error`.
    - `paused` (on `Group`, `Project`, and the embedded `Project.group`) is omitted from the
      response entirely when the group/project is not paused, rather than being sent as `false`.
      It only shows up, as `true`, once something is actually paused. Treat its absence as "not
      paused."
    - `Group.filteredSelection` is always `{selections: [], genres: []}` and
      `Group.currentUserAlbum` is always `null`, on every group sampled — including a real,
      active 9-member group with 172 votes. Both fields appear unused or vestigial in the current
      API; nothing in the available path/query params populates them.
  contact:
    name: Source thread (unofficial, maintained by site owner u/SidledsGunnar)
    url: https://www.reddit.com/r/1001AlbumsGenerator/comments/p6xw6y/json_api/

servers:
  - url: https://1001albumsgenerator.com/api/v1

security:
  - {}
  - ApiAccessToken: []

tags:
  - name: Groups
    description: Multi-user groups that share a daily album and rate it together.
  - name: Projects
    description: A single user's run (their personal daily album and rating history).
  - name: Stats
    description: Site-wide aggregate album statistics, not scoped to any one user or group.
  - name: Notifications
    description: |
      The undocumented `/api/notifications` surface that powers the bell-icon dropdown on the
      live site. Lives outside `/api/v1` (see the operation-level `servers` override below).
  - name: Group Chat
    description: |
      The undocumented `/api/group-chat-messages` surface behind each group's chat feature.
      Lives outside `/api/v1`, same as Notifications.
  - name: Account Actions (write, unverified)
    description: |
      **Two operations under this tag — `rateAlbum` and `saveListeningNote` — have since been
      verified live (2026-06-23) and are no longer unverified; see their individual descriptions
      and `1001-albums/WRITE_API_PLAN.md` for what was confirmed.** Every other operation here is
      still documented for posterity only — none of those were called live. These are the site's
      own write/mutation endpoints (rating an album, joining a group, changing settings, signing
      up, etc.), found the same way as the rest of this research: grepping
      `/dist/js/app.min.js` for `fetch(` calls on 2026-06-22. Unlike the read-only endpoints
      elsewhere in this spec, calling these for real changes another account's state — so aside
      from the two confirmed exceptions, these were deliberately **not** verified against the
      live API, to avoid mutating real user data (including this researcher's own account, or
      third parties').

      Consequences of that (for everything except `rateAlbum` and `saveListeningNote`):
      - Request bodies are reconstructed from the minified JS that builds them (e.g.
        `JSON.stringify({rating: s, notes: r, ...})`) and should be accurate, but field names
        come from minified single-letter variables traced back to their source, not from a live
        round-trip.
      - Response shapes are **inferred, not observed** — from patterns like
        `.then(e => { if (e.success) ... })` or `.then(e => { if (e.error) ... })` in the calling
        code — and marked as such below. Treat every response schema/example under this tag as a
        best guess.
      - Auth is assumed to be an authenticated session cookie (set by `POST /login`, see below),
        scoped to the project/group being modified — inferred from the site requiring a login to
        reach the pages that trigger these calls. The cookie's name was not observed (no
        unauthenticated request returned a `Set-Cookie` header during this research), and no
        login was attempted to find out.
      - None of these list a `security` requirement below, because none is actually confirmed —
        adding one would imply more certainty than this research supports.

      There's also a family of `/api/admin/analytics/*` endpoints (`static-pages-view-count`,
      `albums-by-word`, `button-clicks`, `events/{id}`, `signups-by-email`) gated by an
      undocumented `tjena` query parameter that looks like a hardcoded admin secret. They are
      **not** included as operations below, and were not probed beyond noting their path
      patterns exist in the bundle — guessing at or testing an apparent admin secret crosses from
      "reading a public API" into "trying to get past an access control," which is out of scope
      for this research regardless of how weak that control might be.

paths:
  /groups/{groupSlug}:
    get:
      tags: [Groups]
      summary: Get a group
      description: |
        Returns a summary of a group: members, current/latest album, all-time high/low rated
        albums, favorite/worst genres, rating-by-decade breakdown, and aggregate stats.

        `groupSlug` is the group name, lower-cased with spaces replaced by hyphens. Find it in
        the URL of the group's page on the site if unsure.
      operationId: getGroup
      parameters:
        - name: groupSlug
          in: path
          required: true
          schema:
            type: string
          example: test
          description: Lower-case, hyphenated group name (as it appears in the group's page URL).
      responses:
        "200":
          description: Group summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "404":
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: true
                errorCode: group-not-found
                message: Group Not Found
        "500":
          $ref: "#/components/responses/UnknownError"

  /groups/{groupSlug}/albums/{albumUuid}:
    get:
      tags: [Groups]
      summary: Get a group's reviews for one album
      description: |
        Returns every member's rating/review of a specific album within the group, including
        members who haven't rated it yet (`rating`/`review` are `null` for them).

        `albumUuid` must be the album's internal `uuid` (e.g. from `Group.currentAlbum.uuid` or
        any other album object in this API) — passing the album's `spotifyId` instead returns a
        500 `unknown-error`.
      operationId: getGroupAlbumReviews
      parameters:
        - name: groupSlug
          in: path
          required: true
          schema:
            type: string
          example: test
        - name: albumUuid
          in: path
          required: true
          schema:
            type: string
          description: The album's internal `uuid`, not its `spotifyId`.
          example: 5f34ee8bf0857e55ed5ebebb
      responses:
        "200":
          description: Per-member reviews for the album
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupAlbumReviews"
              example:
                albumName: Nevermind
                albumArtist: Nirvana
                reviews:
                  - projectName: lankyserv
                    rating: 5
                    review: "Goes so hard. It would have been hard for me to not give this a 5 even if I'd hated every track, the influence this has had makes it a 5 almost by itself."
                  - projectName: hodorswit
                    rating: 5
                    review: "Every song is a classic, and some are way heavier than I remember. Undeniable influence, a timeless masterpiece."
                  - projectName: that0therguy
                    rating: null
                    review: null
                  - projectName: clutchy
                    rating: 5
                    review: null
                  - projectName: seanph1001
                    rating: did-not-listen
                    review: null
        "404":
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: |
            Unknown error. Happens when `albumUuid` is a `spotifyId` instead of an internal
            `uuid`, or when the group has no association with the album at all.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: true
                errorCode: unknown-error
                message: Something went wrong

  /projects/{projectIdentifier}:
    get:
      tags: [Projects]
      summary: Get a project (a single user's run)
      description: |
        Returns a project's current album, current album notes, full rating history, update
        frequency, pause state, and (if applicable) its group.

        `projectIdentifier` may be either the project's name (as in
        `1001albumsgenerator.com/:name`) or the opaque `sharerId` from its share URL
        (`1001albumsgenerator.com/shares/:sharerId`). When a `sharerId` is used, the response
        omits `name` so the share link doesn't leak the underlying project/user name.
      operationId: getProject
      parameters:
        - name: projectIdentifier
          in: path
          required: true
          schema:
            type: string
          example: test
          description: Project name, or the `sharerId` segment of its share URL.
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "404":
          description: Project not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: true
                errorCode: project-not-found
                message: Project Not Found
        "500":
          $ref: "#/components/responses/UnknownError"

  /projects/{projectId}/analytics:
    get:
      tags: [Projects]
      summary: Get a project's page-view counts
      description: |
        Returns view-count analytics for a project's public profile page. Undocumented — found by
        grepping the site's own `/dist/js/app.min.js` bundle for `fetch(` calls (used by the
        "Get stats" button on a project's `/info` page), then verifying live on 2026-06-22.

        Unlike every other `projectIdentifier`-style param in this API, this one does **not**
        accept the project's name or `sharerId` — it requires the project's internal MongoDB
        `_id`. That id isn't exposed by `/projects/{projectIdentifier}` itself, but it is exposed
        as `Notification.project` by the (also undocumented) Notifications endpoint, or visible
        inline in a project's own `/info` page HTML if you control that project. Passing a
        well-formed-but-wrong ObjectId 404s with the same `project-not-found` shape as
        `/projects/{projectIdentifier}`; passing a non-ObjectId string (e.g. the project's plain
        name) 400s with a Mongoose cast error instead.
      operationId: getProjectAnalytics
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          example: 69cd33126df7092454222444
          description: The project's internal `_id` (24-char hex ObjectId) — not its name.
      responses:
        "200":
          description: Page-view counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  allTimeCount:
                    type: integer
                  lastWeekCount:
                    type: integer
                required: [allTimeCount, lastWeekCount]
              example:
                allTimeCount: 20
                lastWeekCount: 2
        "400":
          description: |
            `projectId` isn't a valid ObjectId shape (e.g. you passed a project name instead of
            its internal id).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: true
                errorCode: "Cast to ObjectId failed for value \"lankyserv\" at path \"_id\" for model \"Project\""
                message: Something went wrong
        "404":
          description: projectId is a well-formed ObjectId but doesn't match any project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: true
                errorCode: project-not-found
                message: Project Not Found

  /albums/stats:
    get:
      tags: [Stats]
      summary: Get global stats for every album
      description: |
        Returns votes, average rating, genres/styles, and a "controversial score" (rating
        deviation — higher means more disagreement among voters) for every album in the book,
        aggregated across all users of the site.
      operationId: getAlbumStats
      responses:
        "200":
          description: Album stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  albums:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlbumStat"
        "429":
          $ref: "#/components/responses/RateLimited"

  /user-albums/stats:
    get:
      tags: [Stats]
      summary: Get global per-user-vote stats for every album
      description: |
        Same data as `/albums/stats`, plus a `votesByGrade` breakdown (count of votes at each of
        the five rating levels) per album. This is the newest endpoint documented in the source
        thread (added after the `albums/stats` endpoint).
      operationId: getUserAlbumStats
      responses:
        "200":
          description: User album stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  albums:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserAlbumStat"
        "429":
          $ref: "#/components/responses/RateLimited"

  /notifications/{projectName}:
    servers:
      - url: https://1001albumsgenerator.com/api
        description: |
          This operation lives one level up from the rest of this spec — no `/v1` segment — which
          is why it overrides the document-level `servers` entry here.
    get:
      tags: [Notifications]
      summary: Get a project's notification feed (powers the bell-icon dropdown)
      description: |
        Returns timeline events for a project: group members rating an album, the project's own
        milestones, the group crossing generation milestones, new group members, donation nags,
        and site-wide announcements. This is exactly what renders in the bell-icon dropdown in the
        top-right corner of the live site, including the unread badge count.

        Entirely undocumented — not in the source thread, found only by inspecting network
        requests from the live site on 2026-06-22. No authentication required, and CORS is wide
        open (`Access-Control-Allow-Origin: *`), so any origin can read any project's
        notifications by name — the same no-auth posture as the rest of this API.

        **This GET is safe to call freely** (verified: repeated calls don't change `read` state or
        the unread count). The mutation happens in a *different*, undocumented-on-purpose
        endpoint, `POST /api/notifications/{projectName}/read-all`, which the site's own frontend
        fires when you open the bell in a real browser — that's what actually marks everything
        read. This spec deliberately does not document that POST: it's a write operation, and nothing
        in this spec is meant to be used to mutate a project that isn't yours. Be aware, though,
        that simply *browsing* a project's page in a normal (non-headless, cookie-bearing) browser
        will trigger it as a side effect and silently clear that project's unread bell count.
      operationId: getNotifications
      parameters:
        - name: projectName
          in: path
          required: true
          schema:
            type: string
          example: lankyserv
          description: |
            The project's name. Unlike `/v1/projects/{projectIdentifier}`, this endpoint was not
            tested against a `sharerId` in place of the name — unconfirmed whether that works here.
        - name: read
          in: query
          schema:
            type: boolean
          example: false
          description: |
            `read=false` returns only unread notifications — the same set the live site's bell
            badge count is derived from. `read=true` returns the full read history (146 entries
            observed on one ~3-month-old active account; retention window beyond that is
            unknown). Omitting this parameter entirely returned an empty list in testing rather
            than "all notifications, any state" — in practice treat it as required.
      responses:
        "200":
          description: |
            Always HTTP 200, even on failure — this endpoint does not appear to use HTTP status
            codes to signal errors the way `/api/v1` does (compare to `/projects/{projectIdentifier}`'s
            404 `project-not-found`). An unknown `projectName` still returns 200, with
            `success: false` in the body instead. See the two named examples below.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum: [true]
                      notifications:
                        type: array
                        items:
                          $ref: "#/components/schemas/Notification"
                    required: [success, notifications]
                  - type: object
                    description: Observed when `projectName` doesn't exist. Still HTTP 200, not 404.
                    properties:
                      success:
                        type: boolean
                        enum: [false]
                      error:
                        type: string
                    required: [success, error]
              examples:
                found:
                  summary: Project exists
                  value:
                    success: true
                    notifications:
                      - _id: 6a394da2b0b16617b018b6b5
                        project: 69cd33126df7092454222444
                        createdAt: "2026-06-22T14:58:42.655Z"
                        read: false
                        type: groupReview
                        data:
                          albumName: Pornography
                          albumId: 5f34ee8bf0857e55ed5ebdfb
                          rating: 4
                          groupSlug: lankyserv
                          projectName: clutchy
                          isUserAlbum: false
                notFound:
                  summary: projectName doesn't exist (still HTTP 200)
                  value:
                    success: false
                    error: Unknown

  /group-chat-messages/{groupSlug}:
    servers:
      - url: https://1001albumsgenerator.com/api
        description: Outside `/api/v1`, same as the Notifications endpoint above.
    get:
      tags: [Group Chat]
      summary: Get a group's chat messages
      description: |
        Returns a group's chat feed (the chat feature accessible from a group's stats page).
        Undocumented, found the same way as Notifications: grepping the site's own
        `/dist/js/app.min.js` bundle for `fetch(` calls on 2026-06-22, then verifying live.

        No authentication required, CORS wide open (`Access-Control-Allow-Origin: *`) — same
        posture as every other endpoint in this spec. Posting a new message
        (`POST /api/group-chat-messages/{groupSlug}`, body `{author, text}`) was visible in the
        same bundle but is intentionally not documented here, consistent with this spec's
        read-only scope.
      operationId: getGroupChatMessages
      parameters:
        - name: groupSlug
          in: path
          required: true
          schema:
            type: string
          example: test
        - name: limit
          in: query
          schema:
            type: integer
          example: 100
          description: Caps the number of messages returned. The site's own UI always sends 100.
      responses:
        "200":
          description: |
            Always HTTP 200, same `success: false` failure shape as Notifications for an unknown
            `groupSlug` — see the two named examples below.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum: [true]
                      messages:
                        type: array
                        items:
                          $ref: "#/components/schemas/GroupChatMessage"
                    required: [success, messages]
                  - type: object
                    description: Observed when `groupSlug` doesn't exist. Still HTTP 200, not 404.
                    properties:
                      success:
                        type: boolean
                        enum: [false]
                      error:
                        type: string
                    required: [success, error]
              examples:
                found:
                  summary: Group exists and has chat history
                  value:
                    success: true
                    messages:
                      - _id: 61df4cf73d02d10abdf79b53
                        group: 5f8c7e70dbc46ad5c9a85094
                        author: OI
                        text: this is a test
                        postedAt: "2022-01-12T21:49:43.053Z"
                notFound:
                  summary: groupSlug doesn't exist (still HTTP 200)
                  value:
                    success: false
                    error: Unknown

  /stats/albums-by-word:
    servers:
      - url: https://1001albumsgenerator.com/api
        description: Outside `/api/v1`, same as Notifications and Group Chat above.
    post:
      tags: [Stats]
      summary: Search all reviews site-wide for a word or phrase
      description: |
        Searches every review left on the site (across all users) for a word or phrase, and
        returns the albums whose reviews mention it most, ranked by mention count. Backs the
        keyword-search box on the site's global stats page.

        Despite being a `POST`, this is a read-only search, not a mutation — the verb is just a
        consequence of the search term going in a JSON body instead of a query string. CORS is
        wide open (`Access-Control-Allow-Origin: *`, confirmed via an actual cross-origin browser
        `fetch`, not just `curl`) and no authentication is required. Found by grepping
        `/dist/js/app.min.js` for `fetch(` calls on 2026-06-22; this is the same informal
        ~3-requests/minute rate limit as the rest of the site (the bundle handles a
        `too-many-requests` message client-side, implying a `429` is possible under load, though
        one wasn't reproduced during this research).
      operationId: searchAlbumsByWord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phrase:
                  type: string
              required: [phrase]
            example:
              phrase: masterpiece
      responses:
        "200":
          description: Albums ranked by how often the phrase appears in their reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  albums:
                    type: array
                    items:
                      type: object
                      properties:
                        albumName:
                          type: string
                        albumSlug:
                          type: string
                        albumId:
                          type: string
                          description: Matches `Album.spotifyId` elsewhere in this API, not `Album.uuid`.
                        wordCount:
                          type: integer
                          description: Number of times the phrase appears across that album's reviews.
                        artistName:
                          type: string
                      required: [albumName, albumSlug, albumId, wordCount, artistName]
              example:
                albums:
                  - albumName: The Dark Side Of The Moon
                    albumSlug: the-dark-side-of-the-moon
                    albumId: 3a0UOgDWw2pTajw85QPMiz
                    wordCount: 212
                    artistName: Pink Floyd
        "429":
          $ref: "#/components/responses/RateLimited"

  # ---------------------------------------------------------------------------------------------
  # Everything below is tagged "Account Actions (write, unverified)" — see that tag's description
  # above. None of these were called live. All of them live under https://1001albumsgenerator.com/api
  # (no /v1 segment), same as Notifications / Group Chat / the word-search endpoint above.
  # ---------------------------------------------------------------------------------------------

  /login:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: log in / look up a project by name or email"
      description: |
        **Unverified — see the Account Actions tag description.** Backs the homepage's login
        box. `loginValue` looks like it's tried against both project name and account email,
        based on the success branch checking `e.projectSlug` (redirect target) vs.
        `e.searchedEmail` (an "we found N projects for that email" style disambiguation flow).
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loginValue:
                  type: string
              required: [loginValue]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  projectSlug: { type: string, description: "Present on success; redirect target." }
                  searchedEmail: { type: string, description: "Present when loginValue matched an email instead of a project name." }

  /projects:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: sign up / create a new project"
      description: |
        **Unverified — see the Account Actions tag description.** Note this is `/api/projects`
        (plural, no `/v1`) — a different route from both `/api/v1/projects/{projectIdentifier}`
        (read, documented above) and `/api/project/{projectName}/...` (singular, the write
        endpoints below). All three exist simultaneously; nothing unifies the naming.
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string }
                weekendAlbums: { type: boolean }
                joinGroup: { type: string, description: "A group slug to join on signup, if present." }
                filteredGenres:
                  type: array
                  items: { type: string }
              required: [name]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  redirectTo: { type: string }

  /project/{projectName}/done:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: mark a project as done (finished all 1001 albums)"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: setProjectDone
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                generateUserAlbumsAfterDone: { type: boolean }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/request-edit-window:
    servers:
      - url: https://1001albumsgenerator.com/api
    get:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: request a temporary window to edit past ratings"
      description: |
        **Unverified — see the Account Actions tag description.** The one mutation-shaped
        operation in this tag that's a `GET` rather than a `POST` in the site's own code.
      operationId: requestEditWindow
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/leave-group:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: leave the project's current group"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: leaveGroup
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/group/{groupSlug}:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: join a group"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: joinGroup
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
        - { name: groupSlug, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                earnHistory:
                  type: boolean
                  description: Whether to retroactively credit past ratings toward the group.
      responses:
        "200":
          description: Inferred, not observed. Success redirects to `/{projectName}`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/add-email:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: attach an email address to a project"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: addProjectEmail
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
              required: [email]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/extra-settings:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: set an arbitrary project setting"
      description: |
        **Unverified — see the Account Actions tag description.** Generic key/value setter;
        `settingKey`/`settingValue` observed values were not enumerated.
      operationId: setProjectExtraSetting
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settingKey: { type: string }
                settingValue: { type: string }
              required: [settingKey, settingValue]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/extended-summary:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: toggle the project's extended shareable summary"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: setExtendedSummary
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                extended: { type: boolean }
              required: [extended]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/favorite-album:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: mark an album as the project's favorite"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: setFavoriteAlbum
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                albumId: { type: string }
              required: [albumId]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/set-featured-review:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: feature one of the project's own reviews"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: setFeaturedReview
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewId: { type: string }
              required: [reviewId]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/streaming-source:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: set the project's default streaming service"
      description: |
        **Unverified — see the Account Actions tag description.** `source` values observed
        elsewhere on the Info page include `spotify`, `appleMusic`, `youtube`, `amazonMusic`,
        `deezer`, `qobuz`.
      operationId: setStreamingSource
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source: { type: string }
              required: [source]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/wikipedia-link-type:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: set how Wikipedia links are displayed for this project"
      description: "**Unverified — see the Account Actions tag description.** `type` values unknown."
      operationId: setWikipediaLinkType
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string }
              required: [type]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/remove-genre-filter:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: clear the project's genre filter"
      description: |
        **Unverified — see the Account Actions tag description.** The request body redundantly
        repeats `projectName`, which is already in the path — that's the site's own code, not a
        transcription error here.
      operationId: removeGenreFilter
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                projectName: { type: string }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/hide-notifications:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: dismiss a specific notification banner"
      description: |
        **Unverified — see the Account Actions tag description.** Observed `notification` value:
        `signup`. Other values likely exist (one per dismissible banner type) but weren't
        enumerated.
      operationId: hideNotification
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification: { type: string }
              required: [notification]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/hide-donation-notifications:
    servers:
      - url: https://1001albumsgenerator.com/api
    get:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: dismiss the donation nudge banner"
      description: |
        **Unverified — see the Account Actions tag description.** Called with no request body or
        explicit method in the site's own code, which means it's sent as a default `GET` — a
        mutating action behind a `GET`, despite this spec otherwise treating `GET` as safe.
      operationId: hideDonationNotifications
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /project/{projectName}/hide-patreon-push:
    servers:
      - url: https://1001albumsgenerator.com/api
    get:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: dismiss the Patreon nudge banner"
      description: |
        **Unverified — see the Account Actions tag description.** Same `GET`-as-mutation caveat
        as `hide-donation-notifications` above.
      operationId: hidePatreonPush
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /{projectName}/{albumUuid}/rate:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Verified: rate any unrated backlog album — the core write action of the whole site"
      description: |
        **Verified live 2026-06-23 — see `1001-albums/WRITE_API_PLAN.md`.** Requires zero
        authentication: a plain server-side POST with no cookies and no special headers
        succeeded. This is what every rating submitted through the real UI ultimately calls,
        confirmed by directly observing the real history page's "Rate" button fire this exact
        request.

        Correction from earlier (unverified) versions of this doc: the path parameter is the
        album's **`uuid`**, not `generatedAlbumId` — those are two different 24-hex Mongo
        ObjectIds that look alike. Confirmed by the one real captured example having different
        values in the URL vs. the body all along.

        Works against **any unrated entry in the project's history**, not just the single
        "current pending" one referenced by the profile page's
        `window.albumGenerator.rate.previousAlbumId`/`previousAlbumGeneratedAlbumId` — confirmed
        by successfully rating a backlog album other than that one, through the real history
        page's own UI. (An earlier draft of this doc claimed the opposite, based on a test whose
        IDs were accidentally malformed rather than genuinely rejected for being the wrong
        album — see `WRITE_API_PLAN.md` for the full correction.) The only real gate found is
        re-rating an **already-rated** entry, which returns the same `{"success":false,"error":{}}`
        shown below.

        There is no known way to undo a submitted rating.
      operationId: rateAlbum
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
        - name: albumUuid
          in: path
          required: true
          description: |
            The target history entry's album `uuid` (`HistoryEntry.album.uuid` elsewhere in this
            API) — not `generatedAlbumId`.
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  allOf: [{ $ref: "#/components/schemas/Rating" }]
                notes:
                  type: string
                  description: Listening notes saved alongside the rating.
                fromHistoryView:
                  type: boolean
                  description: Whether this came from the history/backlog UI vs. the daily card.
                generatedAlbumId:
                  type: string
                  description: |
                    The same history entry's `generatedAlbumId` (`HistoryEntry.generatedAlbumId`
                    elsewhere in this API) — a *different* value from the `albumUuid` path param,
                    not redundant with it. Must belong to the same entry as `albumUuid`.
                isUserAlbum:
                  type: boolean
              required: [rating]
      responses:
        "200":
          description: |
            Verified live. `success: false` (still HTTP 200) when the target entry is already
            rated, or when `albumUuid`/`generatedAlbumId` don't both belong to the same history
            entry. `allAlbumsRated: true` triggers a full page reload in the site's own code,
            implying it signals "you've now rated every album the book has."
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success: { type: boolean, enum: [true] }
                      allAlbumsRated: { type: boolean }
                  - type: object
                    properties:
                      success: { type: boolean, enum: [false] }
                      error: { type: object }
              examples:
                accepted:
                  summary: Rated a previously-unrated entry
                  value: { success: true, allAlbumsRated: false }
                rejected:
                  summary: Already rated, or mismatched/malformed IDs
                  value: { success: false, error: {} }

  /{projectName}/{albumId}/listening-note:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Verified: save a listening note independent of rating"
      description: |
        **Verified live 2026-06-23 — see `1001-albums/WRITE_API_PLAN.md`.** Requires zero
        authentication: a plain server-side POST with no cookies and no special headers
        succeeded. Confirmed as a real write (not a no-op) by setting a distinct value, reading
        it back via `GET /api/v1/projects/{projectIdentifier}`, then restoring the original.

        Confirmed working against `currentAlbum` (today's still-unrated pick), not just backlog
        entries. Unlike `rateAlbum`, there's no "already submitted" guard here: resubmitting the
        same or a different note both just succeed, freely overwriting whatever was there.
      operationId: saveListeningNote
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
        - name: albumId
          in: path
          required: true
          description: The album's `uuid` (confirmed working against `currentAlbum.uuid`).
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
                isUserAlbum: { type: boolean }
              required: [notes]
      responses:
        "200":
          description: Verified live.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
              examples:
                accepted:
                  value: { success: true }

  /groups:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: create a new group"
      description: |
        **Unverified — see the Account Actions tag description.** Note this is `/api/groups`
        (no `/v1`) — a different route from `/api/v1/groups/{groupSlug}` (read, documented
        above).
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groupName: { type: string }
                joinGroup: { type: boolean }
                projectName: { type: string }
                keepHistory: { type: boolean }
              required: [groupName, projectName]
      responses:
        "200":
          description: Inferred, not observed. Success redirects to `/{projectName}`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /groups/{groupSlug}/paused:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: pause or unpause a group"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: setGroupPaused
      parameters:
        - { name: groupSlug, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paused: { type: boolean }
              required: [paused]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /groups/{groupSlug}/weekend-albums:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: switch a group to generating albums every day, weekends included"
      description: "**Unverified — see the Account Actions tag description.** Body sent is always `{}`."
      operationId: activateGroupWeekendAlbums
      parameters:
        - { name: groupSlug, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /reviews/thumb-up:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: mark a review as helpful"
      description: |
        **Unverified — see the Account Actions tag description.** Unlike the rest of this tag,
        this one isn't obviously scoped to "your own" project — it looks like anyone can thumb up
        any review (deduped client-side via `localStorage`, not server-enforced as far as this
        research could tell from the bundle alone). Untested either way.
      operationId: thumbUpReview
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewId: { type: string }
                isUserAlbum: { type: boolean }
              required: [reviewId]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /albums/add-source:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: submit a streaming-service id for an album"
      description: |
        **Unverified — see the Account Actions tag description.** `source` observed value:
        `youtubeMusicId`; presumably accepts the other id field names from the `Album` schema too
        (`spotifyId`, `appleMusicId`, `tidalId`, `amazonMusicId`, `deezerId`, `qobuzId`) given the
        naming overlap, though only one was seen in the bundle.
      operationId: addAlbumSource
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                albumId: { type: string }
                sourceValue: { type: string }
                source: { type: string }
              required: [albumId, sourceValue, source]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /albums/add-featured-description:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: submit a featured description/note for an album"
      description: "**Unverified — see the Account Actions tag description.**"
      operationId: addAlbumFeaturedDescription
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                albumId: { type: string }
                description: { type: string }
              required: [albumId, description]
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

  /notifications/{projectName}/read-all:
    servers:
      - url: https://1001albumsgenerator.com/api
    post:
      tags: [Account Actions (write, unverified)]
      summary: "Unverified: mark all of a project's notifications as read"
      description: |
        **Unverified by this spec's normal standard** (confirmed to exist and to fire as a side
        effect of normal browsing — see the warning on `GET /notifications/{projectName}` above —
        but deliberately not called directly during this research, since doing so mutates real
        unread state). Body sent is always `{}`.
      operationId: markAllNotificationsRead
      parameters:
        - { name: projectName, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: Inferred, not observed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InferredWriteResponse" }

components:
  securitySchemes:
    ApiAccessToken:
      type: apiKey
      in: header
      name: x-api-access
      description: |
        Optional. No endpoint requires this. Without it, requests are informally rate-limited to
        roughly 3 requests/minute per the maintainer's 2023-01-10 update. The maintainer offered
        higher-volume tokens by direct message; there is no self-serve way to obtain one.

  responses:
    RateLimited:
      description: |
        Rate limit exceeded. The limit is informal and undocumented in detail — roughly
        3 requests/minute without a token. Send `x-api-access` with a maintainer-issued token to
        raise it.
    UnknownError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: true
            errorCode: unknown-error
            message: Something went wrong

  schemas:
    Error:
      type: object
      properties:
        error:
          type: boolean
          example: true
        errorCode:
          type: string
          example: project-not-found
        message:
          type: string
          example: Project Not Found
      required: [error, errorCode, message]

    Image:
      type: object
      description: |
        Pulled directly from Spotify's API. Usually 640x640, 300x300, and 64x64, but exact
        dimensions vary per album (not guaranteed to be exactly these three sizes).
      properties:
        height:
          type: integer
          example: 640
        width:
          type: integer
          example: 640
        url:
          type: string
          format: uri
      required: [height, width, url]

    Album:
      type: object
      description: Full album metadata, including cross-platform IDs for streaming services.
      properties:
        uuid:
          type: string
          description: Internal album identifier. Required for `/groups/{groupSlug}/albums/{albumUuid}`.
          example: 5f34ee8bf0857e55ed5ebebb
        artist:
          type: string
        artistOrigin:
          type: string
          description: Coarse country/region code for the artist (e.g. `us`, `uk`, `other`).
          example: us
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        genres:
          type: array
          items:
            type: string
        styles:
          type: array
          items:
            type: string
        subGenres:
          type: array
          items:
            type: string
        name:
          type: string
        slug:
          type: string
        releaseDate:
          type: string
          example: "1988"
        globalReviewsUrl:
          type: string
          format: uri
        wikipediaUrl:
          type: string
          format: uri
        spotifyId:
          type: string
        appleMusicId:
          type: string
        tidalId:
          type: integer
        amazonMusicId:
          type: string
        youtubeMusicId:
          type: string
        qobuzId:
          type: string
        deezerId:
          type: string
      required: [uuid, artist, name, slug, spotifyId]

    AlbumStat:
      type: object
      description: Album metadata plus aggregate voting stats (no internal `uuid`/cross-platform IDs beyond Spotify).
      properties:
        name:
          type: string
        artist:
          type: string
        artistOrigin:
          type: string
        releaseDate:
          type: string
        genres:
          type: array
          items:
            type: string
        styles:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        slug:
          type: string
        spotifyId:
          type: string
        votes:
          type: integer
        averageRating:
          type: number
        controversialScore:
          type: number
          description: Rating deviation across voters; higher means more disagreement.
        globalReviewsUrl:
          type: string
          format: uri
      required: [name, artist, votes, averageRating, controversialScore]

    UserAlbumStat:
      allOf:
        - $ref: "#/components/schemas/AlbumStat"
        - type: object
          properties:
            votesByGrade:
              type: object
              description: Count of votes received at each rating level, keyed "1" through "5".
              properties:
                "1":
                  type: integer
                "2":
                  type: integer
                "3":
                  type: integer
                "4":
                  type: integer
                "5":
                  type: integer
          required: [votesByGrade]

    RatedAlbum:
      description: An `Album` plus this particular group's votes/rating/listen date for it.
      allOf:
        - $ref: "#/components/schemas/Album"
        - type: object
          properties:
            votes:
              type: integer
            totalRating:
              type: integer
            averageRating:
              type: number
            listenedAt:
              type: string
              format: date-time

    GroupMember:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required: [id, name]

    GenreStat:
      type: object
      properties:
        genre:
          type: string
        numberOfAlbums:
          type: integer
        totalRating:
          type: integer
        votes:
          type: integer
        numberOfVotes:
          type: integer
        rating:
          type: number

    DecadeStat:
      type: object
      properties:
        decade:
          type: string
          example: "1980"
        totalRating:
          type: integer
        votes:
          type: integer
        numberOfAlbums:
          type: integer
        rating:
          type: number

    FilteredSelection:
      type: object
      description: Genre/selection filters configured for the group, if any.
      properties:
        selections:
          type: array
          items:
            type: string
        genres:
          type: array
          items:
            type: string

    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        paused:
          type: boolean
          description: |
            Omitted from the response entirely (not sent as `false`) when the group isn't
            paused. Only present, as `true`, once the group is actually paused. Treat absence
            as "not paused".
        members:
          type: array
          items:
            $ref: "#/components/schemas/GroupMember"
        updateFrequency:
          $ref: "#/components/schemas/UpdateFrequency"
        filteredSelection:
          allOf:
            - $ref: "#/components/schemas/FilteredSelection"
          description: |
            Always `{selections: [], genres: []}` in practice, including on active groups with
            real voting history. Either this filtering feature is unused/legacy, or it requires
            a setup step not exposed anywhere in this API.
        currentAlbum:
          type: object
          allOf:
            - $ref: "#/components/schemas/Album"
          nullable: true
        currentUserAlbum:
          type: object
          description: |
            Always `null` in practice, including on active groups with real voting history.
            Appears unused or vestigial; its shape if it were ever populated is unknown.
          nullable: true
        latestAlbum:
          type: object
          allOf:
            - $ref: "#/components/schemas/Album"
          nullable: true
          description: Most recent album that has votes attached to it.
        highestRatedAlbums:
          type: array
          items:
            $ref: "#/components/schemas/RatedAlbum"
        lowestRatedAlbums:
          type: array
          items:
            $ref: "#/components/schemas/RatedAlbum"
        favoriteGenres:
          type: array
          items:
            $ref: "#/components/schemas/GenreStat"
        worstGenres:
          type: array
          items:
            $ref: "#/components/schemas/GenreStat"
        ratingByDecade:
          type: array
          items:
            $ref: "#/components/schemas/DecadeStat"
        numberOfGeneratedAlbums:
          type: integer
        totalVotes:
          type: integer
        averageRating:
          type: number
      required: [id, name, slug, members]

    UpdateFrequency:
      type: string
      enum: [daily, dailyWithWeekends]
      description: |
        Misleadingly named: `daily` actually means weekdays-only (the original behavior before
        weekend albums existed); `dailyWithWeekends` generates an album every calendar day.

    Rating:
      description: |
        Either an integer grade 1-5, or the literal string `"did-not-listen"` when the user
        marked the day as not listened to. Also shows up as JSON `null` (e.g. a group member who
        hasn't rated the album yet in `GroupAlbumReviews.reviews[].rating`).
      oneOf:
        - type: integer
          minimum: 1
          maximum: 5
        - type: string
          enum: [did-not-listen]

    HistoryEntry:
      type: object
      description: |
        One day's entry in a project's history. If `revealedAlbum` is `false` (the user chose not
        to reveal that day), `album`, `rating`, and `review` are omitted entirely rather than
        being present-but-null.
      properties:
        generatedAlbumId:
          type: string
        revealedAlbum:
          type: boolean
        generatedAt:
          type: string
          format: date-time
          description: When this album was generated for the user (not when the day "started").
        globalRating:
          type: number
          description: The album's all-time average rating across all users of the site.
        album:
          allOf:
            - $ref: "#/components/schemas/Album"
          description: Omitted when `revealedAlbum` is `false`.
        rating:
          allOf:
            - $ref: "#/components/schemas/Rating"
          description: Omitted when `revealedAlbum` is `false`.
        review:
          type: string
          nullable: true
          description: |
            Free text, no markdown. Omitted when `revealedAlbum` is `false`. Independent of
            `rating` — a member can rate without leaving a note, so `rating` can be set while
            `review` is `null`.
          example: "Goes so hard. It would have been hard for me to not give this a 5 even if I'd hated every track, the influence this has had makes it a 5 almost by itself."
      required: [generatedAlbumId, revealedAlbum, generatedAt, globalRating]

    ProjectGroupRef:
      type: object
      description: Minimal pointer to the project's group, if it belongs to one.
      properties:
        slug:
          type: string
        paused:
          type: boolean
          description: |
            Omitted (not sent as `false`) when the group isn't paused, same as `Group.paused`.
            Treat absence as "not paused".
        updateFrequency:
          $ref: "#/components/schemas/UpdateFrequency"

    Project:
      type: object
      properties:
        name:
          type: string
          description: Omitted when the project was looked up by `sharerId` instead of by name.
        shareableUrl:
          type: string
          format: uri
        currentAlbum:
          type: object
          allOf:
            - $ref: "#/components/schemas/Album"
          nullable: true
        currentAlbumNotes:
          type: string
          description: Personal notes on the current album. An empty string when unset, not omitted or null.
        updateFrequency:
          $ref: "#/components/schemas/UpdateFrequency"
        paused:
          type: boolean
          description: |
            Omitted from the response entirely (not sent as `false`) when the project isn't
            paused. Only present, as `true`, once actually paused. Treat absence as "not paused".
        history:
          type: array
          items:
            $ref: "#/components/schemas/HistoryEntry"
        group:
          type: object
          allOf:
            - $ref: "#/components/schemas/ProjectGroupRef"
          nullable: true
      required: [shareableUrl, currentAlbumNotes, updateFrequency, history]

    AlbumReview:
      type: object
      properties:
        projectName:
          type: string
        rating:
          allOf:
            - $ref: "#/components/schemas/Rating"
          description: May be `null` (member hasn't rated the album).
        review:
          type: string
          nullable: true
      required: [projectName]

    GroupAlbumReviews:
      type: object
      properties:
        albumName:
          type: string
        albumArtist:
          type: string
        reviews:
          type: array
          items:
            $ref: "#/components/schemas/AlbumReview"
      required: [albumName, albumArtist, reviews]

    Notification:
      type: object
      description: |
        One entry in a project's `/api/notifications/{projectName}` feed. `data`'s shape depends
        on `type` — see the `NotificationData*` schemas. Types observed live as of 2026-06-22:
        `groupReview`, `albumsRated`, `groupAlbumsGenerated`, `custom`, `newGroupMember`,
        `donationPush`, `signup`. This list came from sampling one active account's history and is
        not guaranteed exhaustive — treat unrecognized `type` values defensively.
      properties:
        _id:
          type: string
        project:
          type: string
          description: The project's internal id — not its name/slug.
        createdAt:
          type: string
          format: date-time
        read:
          type: boolean
        type:
          type: string
          enum: [groupReview, albumsRated, groupAlbumsGenerated, custom, newGroupMember, donationPush, signup]
        data:
          description: Shape depends on `type`. See the `NotificationData*` schemas below.
          oneOf:
            - $ref: "#/components/schemas/NotificationDataGroupReview"
            - $ref: "#/components/schemas/NotificationDataAlbumsRated"
            - $ref: "#/components/schemas/NotificationDataGroupAlbumsGenerated"
            - $ref: "#/components/schemas/NotificationDataCustom"
            - $ref: "#/components/schemas/NotificationDataNewGroupMember"
            - $ref: "#/components/schemas/NotificationDataDonationPush"
            - $ref: "#/components/schemas/NotificationDataSignup"
      required: [_id, project, createdAt, read, type, data]

    NotificationDataGroupReview:
      type: object
      description: A group member rated an album. (`Notification.type == groupReview`)
      properties:
        albumName:
          type: string
        albumId:
          type: string
          description: |
            Matches `Album.uuid` elsewhere in this API — usable with
            `/groups/{groupSlug}/albums/{albumUuid}` or the album's internal route.
        rating:
          type: integer
          minimum: 1
          maximum: 5
        groupSlug:
          type: string
        projectName:
          type: string
          description: The member who submitted the review — not the notification's recipient.
        isUserAlbum:
          type: boolean
          description: Observed as always `false` in every sample gathered; exact meaning unconfirmed.
      required: [albumName, albumId, rating, groupSlug, projectName]

    NotificationDataAlbumsRated:
      type: object
      description: |
        Personal milestone — the project crossed a round number of rated albums.
        (`Notification.type == albumsRated`)
      properties:
        numberOfAlbums:
          type: integer
      required: [numberOfAlbums]

    NotificationDataGroupAlbumsGenerated:
      type: object
      description: |
        The project's group crossed a round number of generated albums.
        (`Notification.type == groupAlbumsGenerated`)
      properties:
        numberOfAlbums:
          type: integer
        groupId:
          type: string
        groupSlug:
          type: string
      required: [numberOfAlbums, groupId, groupSlug]

    NotificationDataCustom:
      type: object
      description: |
        Site-wide announcement, e.g. a feature change. (`Notification.type == custom`)
      properties:
        heading:
          type: string
        body:
          type: string
      required: [heading, body]

    NotificationDataNewGroupMember:
      type: object
      description: Someone joined the project's group. (`Notification.type == newGroupMember`)
      properties:
        groupSlug:
          type: string
      required: [groupSlug]

    NotificationDataDonationPush:
      type: object
      description: |
        Periodic reminder nudging the project to support the site.
        (`Notification.type == donationPush`)
      properties:
        projectName:
          type: string
      required: [projectName]

    NotificationDataSignup:
      type: object
      description: Sent once when the project was first created. (`Notification.type == signup`)
      properties:
        projectName:
          type: string
      required: [projectName]

    GroupChatMessage:
      type: object
      properties:
        _id:
          type: string
        group:
          type: string
          description: The group's internal id — not its `slug`.
        author:
          type: string
          description: Free-text name the poster typed in, not necessarily a project name.
        text:
          type: string
        postedAt:
          type: string
          format: date-time
      required: [_id, group, author, text, postedAt]

    InferredWriteResponse:
      type: object
      description: |
        Generic placeholder shape for the "Account Actions (write, unverified)" endpoints — none
        of those were called live, so this is reconstructed only from `.then(e => if (e.success)
        ... else if (e.error) ...)`-style branches in the site's own minified JS, not from an
        actual response body. Real responses likely include operation-specific fields beyond
        these two; treat this schema as a lower bound, not a complete one.
      properties:
        success:
          type: boolean
        error:
          type: boolean
        message:
          type: string
